#secondary-hero.sa-hero{
    .hero-header{
        font-size: 3rem;
    }
}

#steps{

    .value-box{
        .section-headers{
            width: 90%;
            display: block;
            margin: auto;

            .section-header2{
                color: #0f1925;
                letter-spacing: 0.5px;
                margin-bottom: 8px;
            }
        }
        
    }
}